@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*  General Styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --bgColor: #1E1C2A;
    --mainColor: #FF702A;
    --secundaryColor: #FFFFFF;
    --radius: 0.5rem;
}

body {
    background-color: var(--bgColor);
}

::selection {
    background-color: var(--mainColor);
    color: white;
}

::-webkit-scrollbar {display: none;}
/* Fim General */

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 14vh;
    padding: 0 52px;
    position: fixed;
    background-color: var(--bgColor);
}

a.logo {
    color: var(--mainColor);
    font-size: 38px;
    font-weight: bold;
}

.menu-itens {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

a {
    color: var(--secundaryColor);
    font-size: 17px;
    transition: 0.8s;
}

a:hover {
    color: var(--mainColor);
}
/* Fim Header */

/* Home Styles */
.home {
    padding-top: 20vh;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.home-content-left {
    height: 421px;
    width: 420px;
}

.main-title {
    color: var(--mainColor);
    font-size: 56px;
}

.subtitle {
    font-size: 32px;
    color: var(--secundaryColor);
    margin: 10px 0;
}

.btn {
    width: 147px;
    height: 45px;
    border-radius: var(--radius);
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--secundaryColor);
    background-color: var(--mainColor);
}

.btn:hover {transform: scale(1.3);} /* All buttons */

.mainImage {
    width: 420px;
    height: 420px;
}
/* Fim Home */

/* About Styles */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15vh 0;
}

.imgAbout{
    height: 390px;
    width: 420px;
}

.about-content-left {
    padding: 15px;
}

.about-content-right{width: 468px;}

.titleAbout, .titleCardapio {
    color: var(--mainColor);
    font-weight:600;
}

.descAbout{
    color: var(--secundaryColor);
    font-size: 16px;
    width: 440px;
    margin: 10px 0;
}
/* Fim About  */

/* Cardapio Styles */
.cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-cardapio {
    text-align: center;
}

.titleCardapio {font-size: 27px;}

.main-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    width: 100vw;
    margin-top: 40px;
}

.cardItem {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 380px;
    border-radius: var(--radius);
    background-color: #FEEEE7;
}

.img-cardapio {
    width: 200px;
    height: 200px;
}

.preco {
    color: var(--mainColor);
    font-weight: bolder;
}
/* Fim Cardapio */