@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*  General Styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --bgColor: #1E1C2A;
    --mainColor: #FF702A;
    --secundaryColor: #FFFFFF;
    --radius: 0.5rem;
}

body, .service {background-color: var(--bgColor) !important;}

::selection {
    background-color: var(--mainColor);
    color: white;
}

::-webkit-scrollbar {display: none;}
/* Fim General */

/* FLEX */
.header, .menu-itens, .home, .about, 
.cardapio, .main-cardapio, .main-services, 
.cardItem, .pedido, .pedido-content, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home, .main-cardapio, .main-services, .footer {flex-wrap: wrap;}

.cardapio, .cardItem, .pedido-content {flex-direction: column;}

/* Header Styles */
.header {
    justify-content: space-between;
    width: 100vw;
    padding: 0 52px;
    position: fixed;
    z-index: 1000;
    background-color: var(--bgColor);
}

a.logo {
    color: var(--mainColor);
    font-size: 38px;
    font-weight: bold;
}

.menu-itens {
    list-style-type: none;
    gap: 40px;
}

a {
    color: var(--secundaryColor);
    font-size: 17px;
    transition: 0.8s;
}

a:hover {color: var(--mainColor);}
/* Fim Header */

/* Home Styles */
.home {
    padding-top: 20vh;
    width: 100vw;
}

.home-content-left {
    width: 420px;
    height: 421px;
}

.main-title {
    font-size: 56px;
    color: var(--mainColor);
}

.subtitle {
    font-size: 32px;
    margin: 10px 0;
    color: var(--secundaryColor);
}

.btn {
    width: 147px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    color: var(--secundaryColor);
    background-color: var(--mainColor);
    transition: 0.5s;
}

.btn:hover, .cardItem:hover{transform: scale(1.1);}

.mainImage {
    width: 420px;
    height: 420px;
}
/* Fim Home */

/* About Styles */
.about {
    gap: 20px;
    padding: 15vh 0;
}

.imgAbout{
    height: 390px;
    width: 420px;
}

.about-content-left {padding: 15px;}

.about-content-right{width: 468px;}

.titleAbout, .titleCardapio, .titleServices {
    color: var(--mainColor);
    font-weight:600;
}

.descAbout{
    font-size: 16px;
    margin: 10px 0;
    color: var(--secundaryColor);
}
/* Fim About  */

/* Cardapio / Services Styles */

.header-cardapio, .header-services {text-align: center;}

.titleCardapio, .titleServices {font-size: 27px;}

.main-cardapio, .main-services {
    width: 100vw;
    gap: 20px;
    padding: 20px 0;
}

.cardItem {
    position: relative;
    text-align: center;
    padding: 25px;
    width: 260px;
    height: 400px;
    border-radius: var(--radius);
    background-color: #FEEEE7;
    transition: 1s;
}

.bx {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 4px;
    border: none;
    border-radius: 0 10px 0 10px;
    background-color: var(--mainColor);
    color: var(--secundaryColor);
}

.img-cardapio {
    width: 200px;
    height: 200px;
}
/*  */
.preco, .service h3 {
    font-weight: bolder;
    color: var(--mainColor);
}
/* Fim Cardapio */

/* Services Styles */
.services, .footer {padding: 25vh 0;}

.img-services {
    width: 90px;
    height: 90px;
}

.service {
    color: var(--secundaryColor);
    height: 265px;
}
/* Fim Services */

/* Pedido Styles */
.pedido-content {
    width: 70vw;
    height: 253px;
    gap: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: var(--radius);
    background-color: #FEEEE7;
}

.titlePedido {font-size: 32px;}
/* Fim Pedido */

/* Footer Styles  */
.footer {gap: 80px;}

.links {height: 279px;}

.titleFooter {color: var(--secundaryColor);}

.risco {
    border-bottom: 3px solid darkorange;
    width: 60px;
    margin-top: 10px;
}

.linksFooter ul li {transition: 0.5s; margin: 15px 0;} 

.linksFooter ul a {color: #9897a9;}

.linksFooter ul a:hover {color: white;}

.linksFooter ul li:hover {transform: translateX(-12px);}
/*  Fim Footer */

/* Responsive Settings */
@media only screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        padding-bottom: 10px;
    }
} 

@media only screen and (max-width: 900px) {
    .about {flex-direction: column;}

    .about-content-right {
        order: 1;
        text-align: center;
    }

    .about-content-left {order: 2;}

    .about-content-right .btn{
        width: 300px;
        font-size: 22px;
    }

    .about-content-right p {font-size: 23px;}
}

@media only screen and (max-width: 839px) {
    .home-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1.main-title {
        width: 100%;
        font-size: 50px;
    }

    h2.subtitle {
        text-align: center;
        font-size: 40px;
    }

    .home-content-left .btn {
        width: 300px;
        font-size: 22px;
    }
} 

@media only screen and (max-width: 539px) {
    .cardItem {
        width: 400px;
        height: 450px;
        gap: 20px;
    }

    .cardItem h3 {
        font-size: 35px;
        line-height: 35px;
    }

    .cardItem p {font-size: 22px;}

    .bx {
        font-size: 40px;
        height: 50px;
        width: 65px;
    }

    .header-services {
        padding: 0 50px;
    }
} 