@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*  General Styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --bgColor: #1E1C2A;
    --mainColor: #FF702A;
    --secundaryColor: #FFFFFF;
    --radius: 0.5rem;
}

body, .service {
    background-color: var(--bgColor) !important;
}

::selection {
    background-color: var(--mainColor);
    color: white;
}

::-webkit-scrollbar {display: none;}
/* Fim General */

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 14vh;
    padding: 0 52px;
    position: fixed;
    background-color: var(--bgColor);
    z-index: 1000;
}

a.logo {
    color: var(--mainColor);
    font-size: 38px;
    font-weight: bold;
}

.menu-itens {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

a {
    color: var(--secundaryColor);
    font-size: 17px;
    transition: 0.8s;
}

a:hover {
    color: var(--mainColor);
}
/* Fim Header */

/* Home Styles */
.home {
    padding-top: 20vh;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.home-content-left {
    height: 421px;
    width: 420px;
}

.main-title {
    color: var(--mainColor);
    font-size: 56px;
}

.subtitle {
    font-size: 32px;
    color: var(--secundaryColor);
    margin: 10px 0;
}

.btn {
    width: 147px;
    height: 45px;
    border-radius: var(--radius);
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--secundaryColor);
    background-color: var(--mainColor);
}

.btn:hover, .cardItem:hover{
    transform: scale(1.1);
}

.mainImage {
    width: 420px;
    height: 420px;
}
/* Fim Home */

/* About Styles */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15vh 0;
}

.imgAbout{
    height: 390px;
    width: 420px;
}

.about-content-left {
    padding: 15px;
}

.about-content-right{width: 468px;}

.titleAbout, .titleCardapio, .titleServices {
    color: var(--mainColor);
    font-weight:600;
}

.descAbout{
    color: var(--secundaryColor);
    font-size: 16px;
    width: 440px;
    margin: 10px 0;
}
/* Fim About  */

/* Cardapio Styles */
.cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-cardapio, .header-services {
    text-align: center;
}

.titleCardapio, .titleServices {font-size: 27px;}

.main-cardapio, .main-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    width: 100vw;
}

.cardItem {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    width: 260px;
    height: 400px;
    border-radius: var(--radius);
    background-color: #FEEEE7;
    overflow: hidden;
    transition: 1s;
}

.bx {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 0 10px 0 10px;
    color: var(--secundaryColor);
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 4px;
    width: 40px;
    height: 30px;
}

.img-cardapio {
    width: 200px;
    height: 200px;
}

.preco, .service h3 {
    color: var(--mainColor);
    font-weight: bolder;
}
/* Fim Cardapio */

/* Services Styles */
.services {
    padding: 22vh 0;
}

.img-services {
    width: 90px;
    height: 90px;
}

.service {color: var(--secundaryColor);
    height: 265px;
}